body {
  padding: 12px 20px;
  background-color: var(--base-bg-color);
  color: var(--base-text-color);
}

header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

h1 {
  font-size: calc(4rem / 3);
  text-align: center;
}

.scoreboard {
  display: flex;
  justify-content: space-evenly;
}

.card-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  padding: 0 7.5px;
}

dialog {
  padding: 0;
  border: none;
  font-size: 0.75rem;
  background-color: var(--secondary-text-color);
  color: var(--base-text-color);
  text-align: center;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog p {
  padding: 46px 46px 22px;
  background-color: var(--modal-header-color);
  width: 100%;
}

dialog button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
  width: 100%;
  padding: 5px 0;
  margin: 20px 0;
  cursor: pointer;
}

dialog button:hover {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
}
