.card {
  display: flex;
  font-size: inherit;
  font-family: inherit;
  flex-direction: column;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  border: 2px solid var(--primary-border-color);
  padding: 20px 15px;
  gap: 15px;
  cursor: pointer;
}

.card:hover {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  border: 2px solid var(--secondary-border-color);
}

img {
  height: 280px;
  object-fit: cover;
  padding: 0 10.5px;
  width: 100%;
}

.card-text {
  text-align: center;
}
