.card {
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  padding: 10px;
  gap: 10px;
}

.card:hover {
  background-color: yellow;
}

img {
  height: 265px;
  object-fit: cover;
}

.card,
.card img {
  border-radius: 15px;
}

.card-text {
  padding: 11.5px;
  text-align: center;
}
