@font-face {
  font-family: "DIN Next LT Pro Regular";
  src: url("../assets/dinnextltpro-regular-webfont.woff2") format("woff2"),
    url("../assets/dinnextltpro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 24px;
  --base-bg-color: #212121;
  --base-text-color: #fefefe;
  --secondary-base-text-color: #6395b9;
  --primary-bg-color: #222530;
  --primary-text-color: #58f4e0;
  --secondary-bg-color: #dcff59;
  --secondary-text-color: #0f1c31;
  --primary-border-color: #383e4f;
  --secondary-border-color: #df3e53;
  --modal-header-color: #363f4a;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "DIN Next LT Pro Regular";
}

body,
h1,
p {
  margin: 0;
}
